.social-login
    button.social-login-github
        span
            i.fa.fa-github
        | Continue with Gitub
    button.social-login-facebook
        span
            i.fa.fa-facebook
        | Continue with Facebook